<head>
  <link rel="stylesheet" href="main.css">

</head>
<body>
  <h1>Freds Fancy Fiction and Non-Fiction</h1>
  <form id = "searchbar" action="/" method="post">
    <input name="query" />
    <button> Search </button>
  </form>

</body>
