body{
  margin: 0;
  font-family: sans-serif;
  background-color: turquoise;
}

h1{
text-align: center;
padding-top: 220px;
}

#searchbar{
  text-align: center;
}

button{
  padding: 15px;
  border-radius: 28%;
  background-color: pink;
}

input{
  border: solid pink 3px;
  padding: 15px;
  border-radius: 28%;
}
